@media screen {
  body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    z-index: 2147483647;
    overflow: hidden;
    cursor: alias;
  }
}